In [7]:
from datetime import datetime
from concurrent import futures
import matplotlib.pyplot as plt

import pandas as pd
from pandas import DataFrame
import pandas_datareader.data as web

In [9]:
import csv
gas_df = pd.read_csv('./../../data/investors/daily_csv_raw.csv')

In [10]:
gas_df.head()

         Date  Price
0  1997-01-07   3.82
1  1997-01-08   3.80
2  1997-01-09   3.61
3  1997-01-10   3.92
4  1997-01-13   4.00

In [11]:
from datetime import datetime

now_time = datetime.now()
start_time = datetime(now_time.year - 5, now_time.month , now_time.day)

print(now_time)

2019-01-21 00:45:53.918146

In [12]:
gas_df["date"] = pd.to_datetime(gas_df["Date"])

In [13]:
gas_df_5years = gas_df[(gas_df['date'] > start_time)]

In [14]:
gas_df_5years['date']=gas_df_5years['Date']
gas_final=gas_df_5years.drop(['Date'],axis=1)

C:\Users\Eric\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
gas_final = gas_final.dropna()
gas_final.head()

      Price        date
4266   4.92  2014-01-22
4267   5.64  2014-01-23
4268   5.17  2014-01-24
4269   5.66  2014-01-27
4270   5.25  2014-01-28

In [17]:
gas_final.to_csv('../../data/5_year_gas_prices.csv',index=False)